<hmtl>
    <head>
        Lançamento
    </head>

    <script src="~/Scripts/jquery-3.7.0.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        debugger;

        $("#btnNovaVenda").click(function () {
            GerarNovaVenda(0);
        });
        $("#btnAddToList").click(function () {
            AdicionarProduto(0);
        });

        $("#btnFechaVenda").click(function () {
            FechaVenda();
        });
        
    });

        function FechaVenda() {
            var VendaId = $("#txtVendaI").val();
            var ClienteId = $("#Cliente").val();
      

            var Venda = {};
            Venda.Id = VendaId;
            Venda.ClienteId = ClienteId;

            $.ajax({
                aysnc: true,
                type: 'POST',
                dataType: 'JSON',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(Venda),
                url: '/Venda/FecharVenda',
                success: function () {

                },
                error: function () {

                }
            });
        }


    function AdicionarProduto(){
        var VendaId = $("#txtVendaI").val();
        var ProdutoId = $("#Produto").val();
        var ProdutoNome = $("#Produto option:selected").text();

        var Item = {};
        Item.VendaId = VendaId;
        Item.ProdutoId = ProdutoId;

        $.ajax({
            aysnc: true,
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(Item),
            url: '/Venda/InserirItem',
            success: function () {  
                
            },
            error: function () {      
                
            }
        });

        RemoveTableRow = function (handler) {
            var tr = $(handler).closest('tr');

            tr.fadeOut(400, function () {
                tr.remove();
            });

            return false;
        }


        var newRow = $("<tr>");
        var cols = "";
        cols += '<td>' + ProdutoId + '</td>';
        cols += '<td>' + ProdutoNome + '</td>';
        cols += '<td class="actions">';
        cols += '<button class="btn btn-large btn-danger" onclick="RemoveTableRow(this)" type="button">Remover</button>';
        cols += '</td>';

        newRow.append(cols);

        $('#tbItens').append(newRow);

        }

       


    function GerarNovaVenda(Id) {
        $.ajax({
            aysnc: true,
            type: 'GET',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            data: { Id: Id },
            url: '/Venda/GerarNovaVenda',
            success: function (data) {
                $("#txtVendaI").val(parseInt(data));
            },
            error: function () {
                alert("Erro ao gerar nova venda.");
            }
        });
    }



    </script>

    <body>
        <fieldset>
            <legend>
                Vendas
            </legend>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="button" style="margin-top: 20px" value="Nova Venda"
                                   name="NovaVenda" id="btnNovaVenda" class="btn btn-success" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                Cliente:
                                @Html.DropDownList("Cliente", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            Venda:
                            <input type="text" readonly="readonly" id="txtVendaI" value="0" name="VendaI" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            Data Venda:
                            <input type="datetime" id="txtVenda" value="10/05/2022" name="dtVenda" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            Devolução:
                            <input type="datetime" id="txtDevolucao" value="10/05/2022" name="Devolucao" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="button" style="margin-top: 20px" id="btnFechaVenda" value="Fechar Venda" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Itens da Venda</legend>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            Produto:
                            @Html.DropDownList("Produto", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="button" style="margin-top: 20px" value="Adicionar" name="AddToList" id="btnAddToList" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Itens Vendidos</legend>
            <table style="width:100%" id="tbItens">
                <thead>
                    <tr>
                        <th hidden>Item</th>
                        <th>Produtos</th>
                        <th>Ações</th>
                    </tr>
                </thead>
            </table>
        </fieldset>

    </body>



</hmtl>
