@{
    ViewBag.Title = "Pagina Inicial";
}

<main>

    <section class="row" aria-labelledby="aspnetTitle">
        <img src="/Resources/logo.png" style="width: 150px; height: 101px;" alt="Logo">
    </section>

    <div class="row">
       
    </div>
</main>